@import url(https://fonts.googleapis.com/css2);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.flex{
    display: flex;
    align-items: center;
}

.container{
    padding: 0.15px;
    min-height: 100vh;
    justify-content: center;
    background: #f0f2f5;
    padding-right: 40px;
}
/*
.facebook-page{
    justify-content: space-between;
    max-width: 1000px;
    width: 100px;
}
*/
.facebook-page.text{
    margin-bottom: 90px;
}

.facebook-page h1{
    color: #1827f2;
    font-size: 4rem;
    margin-bottom: 10px;
}


.facebook-page p{
    font-size: 1.75rem;
    white-space: nowrap;
    padding-right: 200px;
}

form{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: (0 2px 4px rgba(0, 0, 0, 0.1)), 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 400px;
    height: 400px;
}

form input{
    height: 55px;
    width: 360px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 0.14px;
}

form input:focus{
    outline: none;
    border-color: #1877f2;
}

::placeholder{
    padding-left: 10px;
    font-size:1.063rem;
}
.login{
    padding: 1px 20px;
    background: blue;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 600;
    transition: 0.2s ease;
    height: 55px;
    width: 360px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 0.14px;

}

.Forgot{
    color: blue;
}
hr{
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}

.link{
    
    display:flex;
    flex-direction: column;
    gap: 15px;
     height: 55px;
    width: 360px;
}

.link.login{
    border: none;
    outline: none;
    cursor: pointer;
    background: #1877f2;
    padding: 1px 0;
    border-radius: 6px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.2s ease;
}

.link.login :hover{
    background: #0d65d9;
}

form a{
    text-decoration: none;
}

.link.forgot{
    color: #1827f2;
    font-size: 0.875rem;
}



.link.forgot :hover{
    text-decoration: underline;
}


.C-button{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 30px;
    height: 55px;
    background: #3ba626;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 14px;
    width: 250px;
}

.C-button a{
    padding: 1px 20px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 600;
    transition: 0.2s ease;
    
}

.C-button a:hover{
    background: #3ba626;
    
    
}

@media (max-width: 460px) {
    .facebook-page h1 {
        font-size: 3.5rem;
    }

    .facebook-page p{
        font-size: 1.3rem;
    }

    form{
        padding: 15px;
    }
    
}